<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

    <main>
        <div class="jumbotron">
            <h1>ManageBook System</h1>
            <p>Welcome to ManageBook System</p>
            <div>
                <input type="text" placeholder="userName">
            </div>
            <div>
                <input type="text" placeholder="password">
            </div>
            <div>
                <button type="submit">Đăng Nhập</button>
            </div>
        </div>
    </main>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>

</body>
</html>